<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Welcome to the Klossy Kalculator! How many days have you been alive?</h1>
    <form method="POST" action="/gif">
      <h3> What type of Gif would you like to search for? </h3>
      <input type="text" name="search">
      <input type="submit">
    
    </form>
    
  </body>
</html>
